{% extends "financial/_base.html" %}
{% load i18n %}
{% load static %}
{% block content %}



		<div class="content">

			<div class="hero fullwidth-block text-center primary-color">
				<div class="container">
					<h2 class="text-light wow fadeInUp">Quisque laoreet mattis libero quis rutrum. <br>
						<strong>Nulla dignissim tempor odio cursus neque</strong>
					</h2>
				</div>
			</div> <!-- End of .hero -->

			<div class="fullwidth-block primary-color">
				<div class="container">
					<div class="row features text-center">
						<div class="col-sm-4">
							<div class="feature wow fadeInUp">
								<img src="{% static "images/lineo-icon-svgs/icon-11.svg" %}" class="svg-icon">
								<h3 class="feature-title">Stock</h3>
								<div class="feature-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ullam id perferendis, quidem nam consequatur quasi minus unde officiis.</p>
								</div>
							</div> <!-- End of feature -->
						</div>
						<div class="col-sm-4">
							<div class="feature wow fadeInUp" data-wow-delay=".3s">
								<img src="{% static "images/lineo-icon-svgs/icon-18.svg" %}" class="svg-icon">
								<h3 class="feature-title">Stock</h3>
								<div class="feature-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ullam id perferendis, quidem nam consequatur quasi minus unde officiis.</p>
								</div>
							</div> <!-- End of feature -->
						</div>
						<div class="col-sm-4">
							<div class="feature wow fadeInUp" data-wow-delay=".5s">
								<img src="{% static "images/lineo-icon-svgs/icon-26.svg" %}" class="svg-icon">
								<h3 class="feature-title">Stock</h3>
								<div class="feature-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ullam id perferendis, quidem nam consequatur quasi minus unde officiis.</p>
								</div>
							</div> <!-- End of feature -->
						</div>
					</div> <!-- End of .features row -->
				</div> <!-- End of .container -->
			</div> <!-- End of .fullwidth-block -->

			<div class="fullwidth-block secondary-color">
				<div class="container">
					<div class="quote-slider text-center">
						<ul class="slides">
							<li>
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nobis molestias fuga dolorum sapiente similique perferendis hic quos, tenetur aperiam et quis alias nam, vel excepturi quod doloremque iure.</p>

									<cite>Albert Hoover</cite>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>Tempora nobis molestias fuga dolorum sapiente similique perferendis hic quos, tenetur aperiam et quis alias nam, vel excepturi quod doloremque iure.</p>

									<cite>Albert Hoover</cite>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>Perferendis hic quos, tenetur aperiam et quis alias nam, vel excepturi quod doloremque iure.</p>

									<cite>Albert Hoover</cite>
								</blockquote>
							</li>
						</ul> <!-- End of .slides -->
					</div> <!-- End of quote-slider -->
				</div> <!-- End of .container -->
			</div> <!-- End of .fullwidth-block -->

		</div> <!-- End of .content -->



{% endblock content %}